<script lang="ts" setup>
import { ref } from "vue";
const image = ref("./feeling_imgs/smile.png");
const feel = ref("Smile");

function angry() {
  feel.value = "Angry";
  image.value = "./feeling_imgs/angry.png";
}
function cute() {
  feel.value = "Cute";
  image.value = "./feeling_imgs/cute.png";
}
function excited() {
  feel.value = "Excited";
  image.value = "./feeling_imgs/excited.png";
}
function pain() {
  feel.value = "Pain";
  image.value = "./feeling_imgs/pain.png";
}
function shocked() {
  feel.value = "Shocked";
  image.value = "./feeling_imgs/shocked.png";
}
function smile() {
  feel.value = "Smile";
  image.value = "./feeling_imgs/smile.png";
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img :src="image" class="img" width="400"></v-img>
      </v-col>
      <v-col cols="6">
        <v-row justify="center" style="font-size: 200%">
          {{ feel }}
        </v-row>
        <v-row>
          <v-btn class="button" @click="angry">Angry</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="cute">Cute</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="excited">Excited</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="pain">Pain</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="shocked">Shocked</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="smile">Smile</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.button {
  margin-bottom: 30px;
  width: 100%;
}

.button:focus {
  background-color: yellow;
  margin-bottom: 30px;
  width: 100%;
}
</style>
