<script setup lang="ts">
import { computed, ref } from "vue";
interface Product {
  id: number;
  name: string;
  price: number;
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const orderItem = ref<Product[]>([]);
const addProduct = (product: Product) => {
  orderItem.value.push(product);
};
const ans = computed(() => {
  let sum = 0;
  for (const p of orderItem.value) {
    sum = sum + p.price;
  }
  return sum;
});
</script>
<template>
  <v-row>
    <v-col style="overflow-y: scroll; height: 600px">
      <v-container>
        <v-row>
          <v-col v-for="(product, index) of products" :key="index" cols="4">
            <v-card class="mx-auto" max-width="344" variant="outlined">
              <v-card-item>
                <div class="text-center">
                  <div class="text-h6 mb-1">{{ product.name }}</div>
                  <div class="text-h6 mb-1">{{ product.price }}</div>
                </div>
              </v-card-item>
              <v-card-actions class="justify-center">
                <v-btn variant="outlined" @click="addProduct(product)">
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
    <v-col>
      <v-container>
        <v-row style="overflow-y: scroll; height: 500px">
          <v-col cols="12">
            <v-table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="orderItem.length == 0">
                  <td colspan="3" class="text-center">NO Data</td>
                </tr>
                <tr v-for="(product, index) of orderItem" :key="index">
                  <td>{{ product.id }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.price }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" class="text-h2">Sum: {{ ans }}</v-col>
        </v-row>
      </v-container>
    </v-col>
  </v-row>
</template>
